/* tipografia del proyecto. Usare el selector root*/

:root {
  --color-principal: white;
  /*blanco*/
  --color-secundario: #3268A6;
  /*azul*/
  --color-terciario: #BA0B2D;
  /*rojo*/
}

/*estilo general de toda la web*/
body {
  background-color: var(--color-principal);/* color fondo */
  color: var(--color-secundario);/* color texto */
  padding-top: 3rem;/* evita que el navbar tape el titulo del carrusel*/
}

/* ------------------------------  clases propias ----------------- */

.texto-titulos {
  color: var(--color-terciario);
  text-decoration: solid;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 1rem;
}


.texto-parrafos {
  color: var(--color-secundario);
  font-family: Georgia, 'Times New Roman', Times, serif;/* tipografia para redacción*/
}

/* estilo específico para los párrafos de la sección FAQ*/
.texto-parrafos-faq {
  color: var(--color-terciario);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

/* clases para las imagenes de los logos de los equipos*/
.w-65 {
  width: 65%;/* ancho 65% del contenedor*/
}

.w-75 {
  width: 75%;
}

/* botones y hover animados */

.botones {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem;
  text-decoration: none;
  background-color: var(--color-terciario);
  border-radius: 20% 20% 10% 10%;
  color: var(--color-principal);
}

/* aplico sombra y escala según requisitos*/
.botones:hover {
  transform: scale(1.2);/* efecto zoom al pasar el raton*/
  box-shadow: 2px 2px 10px var(--color-principal);/* sombra al pasar el raton*/
  transition: transform 0.4s;/* duracion de la transicion*/
}





/*----------------------------------------------- sección navbar ---------------------------------*/


.navBarMenu {
  background-color: white;
}

.navBarMenu .nav-link {
  color: var(--color-secundario) !important;
}

.texto-enlaces-navbar {
  color: var(--color-secundario);/*azul*/
  font-weight: bold;/* negrita*/
  font-size: 1.2rem;
  text-transform: uppercase;/* mayusculas*/

}

/** efecto hover enlaces navbar*/
ul.texto-enlaces-navbar li:hover,
ul.texto-enlaces-navbar li a:hover {
  color: var(--color-terciario);
}



/*----------------------------------------------- sección hero ---------------------------------*/

.hero-container {
  background: linear-gradient(to bottom, var(--color-secundario), #1E4E7A);/* degradado azul*/
  color: var(--color-principal);/* texto blanco*/
  padding: 2rem;/* espacio interno*/
  border-radius: 10% 10% 70% 10%;/* bordes redondeados arriba*/
}

/* eslogan*/
.hero-container h3 {
  font-size: 3rem;
  text-shadow: 2px 2px 3px var(--color-terciario);/* sombra */
  font-weight: bold;
  margin-bottom: 1rem;
}



/* -------------------------------------------------- sección carrusel de noticias ------------------*/

/* carrusel*/
#carouselExampleDark {
  background-color: var(--color-secundario);/*fondo del carrusel*/
}


#carouselExampleDark .carousel-item {
  background-color: var(--color-secundario);/*fondo de cada item del carrusel*/
}

/* imagenes del carrusel*/
#carouselExampleDark .carousel-item img {
  background-color: var(--color-secundario);
  height: 70vh;
  object-fit: cover;/* si quiero que la imagen cubra todo el espacio usare cover*/
}

/* contador del carrusel*/
.contador-carousel {

  background: linear-gradient(var(--color-terciario));/* fondo degradado rojo*/
  color: #fff;
  padding: 2;
  border-radius: 1rem;
}

/* imagen modal noticia carrusel*/
.imagenesModalNoticiaCarrusel {
  width: 100%;/* ancho completo del contenedor*/
  height: 200px;/* altura fija */
  object-fit: cover;/* para que la imagen no se deforme. Recorta proporcionalmente */
}

/* efecto hover carrusel*/
.carousel-item:hover {
  cursor: pointer;/* cambia el cursor al pasar por la imagen*/
  transform: scale(1.02);/* efecto zoom ligero */
  filter: brightness(1.1);/* aclara la imagen */
}



/* ------------------------------------------------ seccion Resumen ------------------------*/


.iconos-resumen {
  color: var(--color-secundario);
  font-size: 3rem;
}




/* ------------------------------------------------ seccion Nuestros Campeonatos con CARD ------------------------*/


.card {
  background-color: aliceblue;
  margin: 1rem;
  /*height: 100%;/* todas las cards misma altura Lo uso directamente con bootstrap mediente  <div class="card h-100">*/
}

.card img {
  height: 200px;
  object-fit: cover;
  /* para que la imagen no se deforme. Recorta proporcionalmente */
}

.card h5 {
  color: var(--color-terciario);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* de momento no lo uso. Si en próximas tareas se hace clickeable la card activaré este hover
 
.card:hover {
  margin: 2rem;
  box-shadow:rosybrown 2px 2px 10px;
  transform: scale(1.2);
  /* efecto zoom al pasar el raton
  transition: transform 0.4s;
  /* duracion de la transicion
}
*/



/* ------------------------------------------------ sección FOOTER ----------------------------------------*/

footer {
  background-color: var(--color-secundario);
  color: var(--color-principal);
}

footer #container-footer {
  background-color: var(--color-secundario);
  color: var(--color-principal);
}

/*enlaces footer*/
footer a {
  color: var(--color-principal);
  font-weight: bolder;/* grosor texto*/
  text-decoration: none;/*quito subrayado*/
}

/* efecto hover enlaces footer*/
footer button:hover {
  color: var(--color-terciario);
  text-decoration: underline;/* subrayado al pasar el raton*/
}

/* iconos contacto footer*/
.iconos-footer-contacto {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: var(--color-principal);
}

.iconos-redesSociales-footer {
  display: flex;/* uso flexbox*/
  flex-direction: column;/* alineados en vertical*/
  gap: 0.5rem;/* espacio entre iconos*/
}





/* ---------------------------------  MEDIA QUERYS ------------------------------------------*/


/* ---------- carrusel de noticias --------------------*/


/* para moviles grandes y tabletas*/

@media (max-width: 768px) {
  #carouselExampleDark .carousel-item img {
    height: 40vh;

  }
}

/*moviles pequeños*/
@media (max-width: 576px) {

  /* ajustes del carrusel de noticias*/
  #carouselExampleDarkcarouselExampleDark .carousel-item img {
    height: 30vh;

  }


  /* iconos horizontal */
  .iconos-redesSociales-footer {
    flex-direction: row;
    /* alineados en horizontal*/
    justify-content: center;
    flex-wrap: wrap;
    /* si no caben en una fila, que pasen a la siguiente. Por defecto es non wrap*/
    gap: 1rem;
  }

  /*/* separo div Contacto perteneciente al Footer*/
  #footerContacto {
    margin-top: 2rem;

  }

  /* separo div Redes Sociales del footer y alineo texto a izquierda*/
  #icoRedesSociales h4 {
    text-align: left;
    margin-top: 2rem;

  }

  #copyright {
    margin-top: 2rem;
  }


}